.overlayDiv {
  margin-top: 2rem;
}
#h1 {
  color: red;
}
.card{
  margin-bottom: 3rem;
}
.card img {
  height: 50vh;
}
#h1::before {
  content: "::";
  margin-right: 5px;
  color: red;
}
.title {
  color: red;
  font-weight: bolder;
  text-align: center;
}
.title::before {
  content: "//";
  color: red;
  margin-right: 5px;
}
.desc {
  text-align: center;
  font-weight: bold;
}
.socials {
  position: absolute;
  opacity: 0;
  z-index: 5;
  top: 100%;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  transform: translateY(-8rem);


}

.card:hover .socials {
  display: flex;
  opacity: 1;
  transition: 300ms ease-in-out;
  transform: translateY(0);

}
.card:hover {
  transition: 200ms ease-in;
  background-color: #f0eeed;
}
.card:hover .socials {
  display: flex;
  background-color: var(--priColor);
  border-bottom: 3px var(--red);
  animation: moveY 300ms ease-in;
}
.icon {
  width: 60px;
  height: 60px;
}
.icon:hover {
  color: red;
}
#spanner {
  height: 300px;
}
.content {
  margin-top: 4rem;
}
.count h6,
.count span,
.count h3 {
  font-family: "Rajdhani";
  font-weight: 700;
  text-align: center;
}
.count h3 {
  font-size: 40px;
}
.count h3::after {
  content: "+";
  margin-left: 10px;
  height: 30px;
  color: red;
}
#journey {
  text-align: center;

  margin-bottom: 2rem;
}
#journey::before {
  content: "//";
  color: red;
  margin-right: 5px;
}
#loc {
  color: red;
  margin-top: 3rem;
}
#loc:before {
  content: "//";
}
#map {
  height: fit-content;
}
#h4,
#a,
#loc {
  text-align: center;
}
@media screen and (min-width: 768px) {
  /* #img{
    height:400px;
  } */
}
