.divi {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
#h1 {
  color: red;
}
#h1::before {
  content: "::";
  margin-right: 5px;
  color: red;
}
.card {
  border-radius: var(--borderRadius2) var(--borderRadius2) 0 0;
  margin-bottom: 3rem;
}
.card img {
  height: 300px;
  padding: 30px;
  border-radius: 50%;
  /* border:1px solid var(--orange); */
}
.title {
  color: red;
  font-weight: bolder;
  text-align: center;
}
.title::before {
  content: "//";
  color: red;
  margin-right: 5px;
}
.desc {
  text-align: center;
  font-weight: bold;
}
.socials {
  position: absolute;
  z-index: 5;
  top: 100%;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  display: none;
}
.card:hover {
  transition: 200ms ease-in;
  background-color: #f0eeed;
}
.card:hover .socials {
  display: flex;
  background-color: var(--priColor);
  border-bottom: 3px var(--red);
  animation: moveY 300ms ease-in;
}
.icon {
  width: 60px;
  height: 60px;
}
.icon:hover {
  color: red;
}
#spanner {
  height: 300px;
}
.content{
  margin-top: 4rem;
}
.count {
  display: flex;
  position: absolute;
  z-index: 5;
  color: white;
  margin-top: -200px;
}
.count div{
  padding: 0;
width:100%;
}
.count h6,.count span,.count h3 {
  font-family: "Rajdhani";
  font-weight: 700;
text-align: center;

}
.count h3{
  font-size: 40px;
}
.count h3::after{
content: "+";
margin-left: 10px;
height:30px;
color:red;
}
#journey{
  text-align: center;
  
  margin-bottom: 2rem;
}
#journey::before {
  content: "//";
  color: red;
  margin-right: 5px;
}
#loc{
  color:red;
  margin-top:3rem;
}
#loc:before{
  content: "//";

}
#map{
  height:fit-content;
}
#h4,#a,#loc{
  text-align: center;
}

@media screen and (max-width:767px){
  .count{
     margin-top: -200px;
 /* left:0; */
   }#spanner {
     height: 500px;
   }
   
 }
 @media screen and (max-width:768px){
 .count{
    margin-top: -400px;
/* left:10%; */
  }#spanner {
    height: 500px;
  }
  
}
@media screen and (min-width: 800px) {
  .count{
    margin-top: -250px;
    /* left: 25%; */
  }
  
}

@media screen and (min-width: 1200px) {
  .count{
    margin-top: -250px;
    /* left: 28%; */
  }
}

@media screen and (min-width: 1400px) {
  .count{
    margin-top: -250px;
    /* left: 33%; */
  }
}
@media screen and (min-width: 2500px) {
  .card img {
    height: 550px;
  }
}
