.div{
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap:1rem;
}
#h1{
    color:red;
}
#h1::before{
    content: "::";
    margin-right: 5px;
    color:red;
}
.card{
    border-radius: var(--borderRadius2) var(--borderRadius2) 0 0;
}
.card img{
    height:250px;
    padding:30px;
    border-radius: 50%;
    /* border:1px solid var(--orange); */
}
.title{
color:red;
font-weight: bolder;
text-align: center;
}
.title::before{
    content: '//';
    color:red;
    margin-right: 5px;
}
.desc{
    text-align: center;
    font-weight: bold;
}
.socials{
    position: absolute;
    z-index: 5;
    top:100%;
    width:100%;
justify-content: center;
gap:2rem;
display:none;

}
.card:hover{
    transition: 200ms ease-in;
    background-color: #f0eeed;
}
.card:hover .socials{
    display: flex;
    background-color: var(--priColor);
    border-bottom: 3px  var(--red);
animation: moveY 300ms ease-in;
}
.icon{
    width:60px;
    height:60px;
}
.icon:hover{
    color:red;
}
@keyframes moveY {
    0%{
        transform: translateY(-3rem);
        opacity: 0;

    }
    /* 50%{
        transform: translateY(-1.0rem);
        opacity: 0.5;

    } */
    100%{
        transform: translateY(0);
        opacity: 1;

    }
    
}