.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#bookanime{
    height: 500px;
    max-width: fit-content;
    opacity: 1;
    }

.titleHolder{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 1rem; */
}
.titleHolder img{
    width:50px;
    height: 50px;
}
#p,#p1{
    position: relative;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(116,109,109,0.3);
    font-size: medium;
    width:300px;
    font-weight: bold;
    line-height: 21px;
    
}
#p{
    top:-20rem;
    right:30vw;

}
#p1{
    top:-20rem;
    left:30vw;

}
.frmBooking{
    background-color: #39BCE5;
    border-radius: var(--borderRadius);
    padding: 20px;
    position: relative;
    margin: -5px 20px 20px 20px;
    box-shadow: 0 0 5px 5px var(--dark);}
    input[type='text'] {
        background-color: white;
        opacity: 1;
      }
      
.img{
    height:80vh;
}
#safety{
    color:red;
}
#safety1{
    color:#1BB55C;
}

@media screen and (max-width:767px) {
    #bookanime{
        height: 300px;
        max-width: 300px;
        }
        #p{
            right:0;
            top:-19rem;
        }
        
        
        #p1{
            left:0;
            top:-6rem;
        }
        
    
    
}