.overlayContainer {
   margin: 1.5rem 0;
    row-gap: 2rem;
  }
  .img {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    object-fit:fill;
    border-radius: 20px;
  }
  .galleryContainer {
    border-radius: 20px;
  }
  
  .title{
    font-weight: bold;
  text-align: center;
  }
  .galleryContainer:hover {
      transform: scale(1.08025);
      transition: 0.25s ease-in-out;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
      .goArrow{
        display: block;
        opacity: 1;
        margin-left: 0.5rem;
      }
      
      .img{
        opacity: 0.9;
      }
    }
