.productsTitle {
  display: flex;
  position: relative;
  /* top: 2rem; */
  background-color: var(--dark);
  justify-content: space-between;
  padding: 1rem 2rem;
  margin-bottom: 5rem;
}
.singleProduct {
  text-align: center;
  /* margin: auto; */
  margin: 2rem ;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}
a{
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .productsTitle h4 {
    position: relative;
    left: 45%;
  }
}
@media screen and (max-width: 767px) {
  .singleProduct{
    margin: 0;
  }
}
