#aboveCardContainer {
  position: unset;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: -16px;
}
#aboveCard {
  position: absolute;
  text-align: center;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: var(--borderRadius2);
  z-index: 1;
  border-top: 2px solid var(--priColor);
  /* max-width:100px; */
}

.priceNstrike {
  display: flex;
  gap: 1.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.priceNstrike strong {
  color: black;
}
.priceNstrike s {
  float: right;
  color: var(--red);
}
.pop:hover {
  transform: scale(1.08025);
  transition: 0.05s ease-in-out;
}
.products .card {
  /* width:150px; */
  height: fit-content;
  border: 1px solid orange;
}
.products .card img {
  /* width:150px; */
  height: 250px;
  padding: 5px;
}
#cardBody{
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .products .card {
    /* width:250px; */
    height: fit-content;
  }
  .products .card img {
    height: 250px;
    /* width:250px; */
  }
  .products .card:hover {
    transform: var(--scale1);
    transition: var(--transition1);
    box-shadow: 0 0 3px 3px orange;
  }
  
}
@media screen and (max-width: 768px) {
  .products .card img {
    height: 200px;
    /* width:250px; */
  }
  #aboveCard{
    padding: 3px 5px;
  } 
  .priceNstrike{
    gap:0.5rem;
  }
}
@media screen and (max-width: 597px) {
  .priceNstrike strong, .priceNstrike s{
    font-size: 11px;
  }
}
@media screen and (max-width: 334px) {
  p{
    font-size: 12px;
  }
  h5{
    font-size: 15px;
  }
  .products .card {
    max-width: 140px;
  }
  .products .card img {
    height: 180px;
  }
  .priceNstrike strong, .priceNstrike s{
    font-size: 11px;
  }

}
