img{
    width:500px;
    height:600px;
}
.carousel{
    margin: auto;
    width: 70vw;
}
.carousel-caption{top: 300px;}
.carousel h3{
    color:var(--red);
    font-weight: 700;
}
.carousel p{
    color:rgb(68 218 240);
    font-weight: 700;
    font-size: larger;
    
}
.carousel-control-prev,.carousel-control-next{
    color:var(--red)
}