img{
    width:900px;
    height:90vh;
}
.carousel{
    margin: auto;
    width: 80vw;
}
.carousel h3{
    color:var(--red);
    font-weight: 700;
}
.carousel p{
    color:white;
    font-weight: 500;
    
}