.navbar {
  background-color: #a8a8a8;
  text-align: center;
  height: 60px;
}
#badge {
  color: black;
  background-color: var(--orange);
  border-radius: 50%;
  position: absolute;
  transform: translateY(-10px);
  width: 20px;
}
.nav-link {
  color: black;
}
.offcanvas-body {
  justify-content: center;
}
#muneerLogo {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-top: -20px;
  margin-bottom: -40px;
}
.brand {
  background-color: transparent;
}

.nav-link:hover {
  background-color: transparent;
  color: white;
  font-weight: 500;
}

.cartIcon {
  display: flex;
  gap: 1.5rem;
  background-color: white;
  border-radius: 15px;
  padding: 0 10px;
}

.linkie {
  color: white;
}
#search {
  margin: auto;
  border-radius: 10px;
  border: 2px black;
  /* display:none; */
}
input[type="text"] {
  padding-left: 10px;
  transition: width 0.15s ease-in-out;
}
input::placeholder {
  padding-left: 10px;
  color: grey;
}
.nav-link:hover {
  color: black;
}
.profileIcon {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}
.logoutDropdown {
  background-color: var(--redish);
  margin-right: 1rem;
}
.logoutDropdown:hover {
  background-color: var(--red);
}
.logInDropdown {
  background-color: var(--greenish);
  margin-right: 1rem;
}
.logInDropdown:hover {
  background-color: var(--green);
}
/* Marquee container */
/* Marquee container */
.marquee {
background-color: var(--priBluish);
}

/* Marquee heading */
.marquee-heading {
  display: inline-block;
  padding: 10px 0; /* Add padding to separate text from edges */
}

/* Text items */
.marquee-text {
  font-size: 24px; /* Adjust font size as needed */
  padding: 0 20px; /* Add some padding to each text */
}
.marquee-deals {
  font-size: 24px; /* Adjust font size as needed */
  padding: 0 20px; /* Add some padding to each text */
  color: red;
}

/* Animation keyframes for the marquee */

@media screen and (max-width: 767px) {
  .navbar {
    background-color: #a8a8a8;
    text-align: center;
    height: fit-content;
  }
}
@media screen and (min-width: 769px) {
  #searchBtn {
    display: none;
  }

  .navbar-nav {
    display: flex;
    /* gap: 2rem; */
  }
  /* #search{
    display: none;
  } */
  .cartIcon {
    gap: 1.5rem;
    background-color: white;
    border-radius: 15px;
    padding: 0 10px;
  }
  #muneerLogo {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 500px) {
  #searchCont {
    margin: auto;
  }
  #search {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .cartIcon {
    gap: 0.5rem;
    background-color: white;
    border-radius: 15px;
    padding: 0 10px;
  }

  .brand {
    align-content: center;
    justify-content: center;
  }
  .navbar-collapse {
    padding: 1rem;
    height: 70vh;
    left: 0;
    top: 4rem;
    width: 100%;
    background: #d9d9d9;
    position: absolute;
    z-index: 15;
  }
  .collapsing,
  .collapse,
  .navbar-collapse {
    animation: slide 0.3s ease;
  }
}
@keyframes slide {
  0% {
    transform: translateY(300px);
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 374px) {
  .cartIcon {
    gap: 0.5rem;
    padding: 0 7px;
  }
  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  /* .cartIcon{
position: inherit;
display: flex;
top: 20px;
right: 0px;} */
}
