.navbar {
  background-color: #39bce5;
  /* display: flex; */
  /* row-gap: 3rem; */
}
.nav-link {
  color: black;
}
.nav-link:hover {
  background-color: transparent;
  color: white;
  font-weight: 500;
}

.navbar-brand:hover {
  color: white;
  background-color: var(--priBluish);
}
.cartIcon {
  position: absolute;
  display: flex;
  top: 20px;
  right: 30px;
}

.linkie {
  color: white;
}
/* #searchCont{
  display: flex;
  justify-content: center;
  margin:auto;
  flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 100px;
} */
/* .btn{
  position: absolute;
    margin-left: 200px;
} */
#search {
  width: 200px;
  margin: auto;
  border-radius: 10px;
  border: 2px black;
  display:none;
}
input[type="text"] {
  padding-left: 10px;
  width: 30%;
  transition: width 0.15s ease-in-out;
}
input::placeholder {
  padding-left: 10px;
  color: grey;
}
@media screen and (max-width: 281px) {
navbar-brand{
  font-size:25px;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;}
/* .cartIcon{
position: inherit;
display: flex;
top: 20px;
right: 0px;} */

}
@media screen and (max-width: 500px) {
  #searchCont {
    margin: auto;
  }
  #search {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .cartIcon {
    position: inherit;
    display: flex;
    top: 20px;
    right: 20px;
  }

  .brand {
    align-content: center;
    justify-content: center;
  }
  .navbar-collapse {
    padding: 1rem;
    height: 90vh;
    left: 0;
    top: 3.2rem;
    width: 75vw;
    background: #d9d9d9;
    position: absolute;
    z-index: 9;
    /* height: auto; */
    transform: translate(0, 0);
    transition: transform 1s ease-in-out cubic-bezier(0.05, 4.55, 8.975, 1);
  }
  @media screen and (min-width: 769px) {
    .navbar-nav {
      display: flex;
      /* gap: 2rem; */
    }
    #search{
      display: none;
    }
    .cartIcon {
      position:absolute;
      display: flex;
      top: 20px;
      right: 20px;
    }
    }
}
