.nav-active{
  background-color: brown;
}
.nav-link:hover{
  background-color: var(--priVariant);
  color:white;
  font-weight: 500;
}

.navbar-brand:hover{
  color:white;
  background-color: var(--priBluish);
}
.cartIcon {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 100px;
  margin-top: auto;
  color: rgb(227, 130, 26);
}
.linkie{
  color:white;}