
.bg{
    margin: auto;
    justify-content: center;
}
.servicesTitle{
		display: flex;
		position: relative;
		justify-content: space-around;
		align-items: flex-end;
		flex-wrap: wrap;
		align-content: stretch;
		bottom: 3rem;
		width: auto; 
		top:2rem;
		margin-bottom: 4rem;
	  
}
.card button:hover{
	background-color: var(--red);
}
.card:hover{
	box-shadow: 0 0 5px 5px rgb(81, 73, 73);
    transform: scale(1.0005);
transition: 0.005s ease-in;

}

@media screen and (max-width:768px) {
	.bg{gap:2rem;}

}
@media screen and (min-width:769px) {
	.bg{gap:2rem;}

}




