.holder{
	margin-top: 3rem;
}

.bg{
    margin: auto;
    margin-top: 75vh;
    justify-content: center;
	gap:2rem;
}
.servicesTitle{
		display: flex;
		position: relative;
		justify-content: space-around;
		align-items: flex-end;
		flex-wrap: wrap;
		align-content: stretch;
		bottom: 3rem;
		background-color:var(--dark);
		width: auto; 
		top:29rem;
	  
}
.card img{
	height:250px;
}

.card{
	height:auto;

}
.card:nth-child(even){
	border-radius:var(--borderRadius) ;
}

.card button{
	background-color: var(--orange);
	margin-bottom: 24px;
}
.card button:hover{
	background-color: var(--red);
}
.card:hover{
	box-shadow: 0 0 20px 5px rgb(81, 73, 73);
    transform: scale(1.05);
transition: 0.005s ease-in;

}
body {	
	background: linear-gradient(to bottom, rgba(45,116,213,1) 11.2%, rgba(121,137,212,1) 91.2% );
	background-size: 100%;
	background-repeat: no-repeat;
}

body:before{
	content:'';
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background: radial-gradient( circle farthest-corner at 16.5% 28.1%,  rgb(146, 174, 197) 0%, rgba(0,112,218,1) 90% );
}



html {
	margin: 0;
	font-family: 'Muli', sans-serif;
	text-rendering: optimizeLegibility;
}

body {
	margin: 0;
	font-size: 1.15rem;
	line-height: 1.4em;
}


main,header {
	box-sizing: border-box;
}

main {
	background-color: #f7f7f7;
	padding: 20px;
	border-radius: 10px;
	color: #6b6b6b;
	margin: 40px 0;
}
