
/* .bg{
    margin: auto;
    justify-content: center;
} */
/* .row>*{
	width:auto;
	padding:0;

} */
.holder{
	background-color: var(--dark);
}
.servicesTitle{
		display: flex;
		position: relative;
		justify-content: space-around;
		align-items: flex-end;
		flex-wrap: wrap;
		align-content: stretch;
		bottom: 3rem;
		width: auto; 
		top:2rem;
		margin-bottom: 4rem;
		color: var(--priColor);
	  
}
/* .servicesTitle::before{
	content: '::';
	text-align: center;
} */
#textArea h2{
	margin-bottom: 1rem;
	color:red;
}
#lottie{
	position: relative;
	max-height: 300px;
	max-width:300px;
	/* right:-10vw; */
}
@media screen and (max-width:768px) {
	.bg{gap:2rem;}

}
@media screen and (min-width:769px) {
	.bg{gap:2rem;}

}




