  /* Style for the modal body */
  .customModal{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .modalBody {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Style for the custom image */
  .customImage {
    aspect-ratio: 1/1;
    height: 80vh;
    object-fit: fill; /* Maintain the aspect ratio and cover the container */
  }
  
  /* Media query for small screens (e.g., phones) */
  @media (max-width: 576px) {
    .customModal {
      max-width: 100%; /* Make the modal full-width on small screens */
    }
  
    .customImage {
      max-height: 50vh; /* Adjust the image's maximum height for smaller screens */
    }
  }
  