  .responsiveImage {
    /* position: absolute; */
    top: 0;
    left: 0;
    /* width: auto; */
    height: 300px;
    object-fit: fill; /* Maintain the aspect ratio and cover the container */
  }
  .responsiveImage:hover{
    cursor: pointer;
    transform: scale(1.08025);
    transition: 0.25s ease-in-out;
  }