@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600&family=Space+Grotesk:wght@300;400&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", "Rajdhani", sans-serif;
}
body,html {
  background-color: var(--white);
  /* max-width: 100%; */
  overflow-x: hidden;
}

p {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
h1 {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
}
h2 {
  font-weight: 700;
  font-size: 28px;
  font-style: normal;
  text-align: center;
  /* margin: 3rem 0; */
}
h3 {
  font-weight: bold;
}
h4 {
  font-weight: bold;
}

:root {
  --priColor: #39bce5;
  --priVariant: #a6deef;
  --priBluish: #8fb9e5;
  --dark: #d9d9d9;
  --redish: rgb(247, 84, 84);
  --red: rgb(254, 48, 48);
  --orange: rgb(255, 139, 23);
  --greenish: rgb(92, 241, 92);
  --green:rgb(0, 255, 0);
  --white: #fff;
  --margins: 20px;
  --borderRadius: 20px;
  --borderRadius2: 15px;
  --scale1: scale(1.03025);
  --transition1: 0.4s ease-in-out;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
a {
  color: black;
}
a:hover {
  font-weight: bold;
}
/* .swiper-pagination{
  margin-top: 3rem;
} */
