
  @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}



:root{
  --priColor:#39BCE5;
  --priVariant:rgb(104, 151, 217);
  --priBluish:#8fb9e5;
  --dark:rgb(212, 212, 212);
  --redish:rgb(243, 178, 178);
  --red:rgb(254, 48, 48);
  --orange:rgb(255, 139, 23);
  --white:#fff;
  --margins:20px;
  --borderRadius:10px;
  --borderRadius2:15px;
}
body{
  background-color:var(--white);

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
