#btn{
    border-radius: var(--borderRadius);
    color: var(--priColor);
    border: 2px solid var(--priColor);
    margin:0 5px 5px 5px;
    padding:5px;
    min-width: 100px;
    /* width:100px; */
    /* height: 40px; */
}
#btn:hover{
    background-color: var(--priColor);
    color:white;
    transition: 0.3s ease-in;
}
#btn span{
    fill: var(--priColor);
    /* height: 50px; */
}
.btnCart{
    width: 100%;
}
#change{
    color: black;
    border: 2px solid red;

}
.variant{
    width:200px;
}
.addMinus{
    display: flex;
    justify-content: center;
}