#btn{
    border-radius: var(--borderRadius);
    color: var(--priColor);
    border: 2px solid var(--priColor);
    margin:0 5px 5px 5px;
    height: 40px;
}
#btn span{
    display: block;
    fill: var(--priColor);
    width:50px;
    height: 50px;
}