 header {
  font-weight: bold;
  font-size:36px;
  text-align: center;
  color:black
}

.swiperSlide {
  margin-top: 1rem;
  height: max-content;
  width: 100%;
  border: none;
  border-radius: 15px;
}
.swiperSlideSubContainer{
  border: 5px solid var(--priColor);
  border-radius: 20px;
}
.swiperSlideSubContainer::before{
  content:'"';
  text-align: left;
  position:absolute;
  left:-0.25rem;
  width:40px;
  top: 0;
  z-index:1;
  background-color: white;
  font-size: 40px;
  height: 35px;
}
.swiperSlideSubContainer::after{
  content:'"';
  text-align: right;
  position:absolute;
  right:0;
  width:40px;
  bottom: 0;
  z-index:1;
  background-color: white;
  font-size: 40px;
  height: 30px;
}
.cardImg {
  padding: 0;
  justify-content: center;
  height:30%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.hr{
  width: 200px;
  color:black;
  margin: auto;
  opacity: 1;
  border: 5px solid;
  border-radius: 5px;
  margin-bottom: 2rem;
}
.cardTitle{
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  color:black;
}
